.create_credential_area {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

.create_credential_area input {
  padding: 10px;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 0;
}
.create_credential_area button {
  padding: 8px;
  width: 100%;
  font-size: 22px;
  margin-bottom: 20px;
  border: none;
  position: relative;
  background: #007ee5;
  color: white;
  margin-top: 10px;
  margin: 8px 0;
  display: flex;
  justify-content: center;
}
.create_credential_area p {
  font-size: 14px;
}

/*! error handle */
.error_text {
  display: flex;
  justify-content: flex-start;
  color: #e74c3c;
  visibility: hidden;
}

.error_border {
  border-color: #e74c3c !important;
}

.error_visible {
  visibility: visible;
}

/* btn loading animation */
.visibility_hidden {
  visibility: hidden;
}

.create_credential_area button div {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
}
.create_credential_area button div p {
  margin: 0;
  margin-left: 5px;
}
.create_credential_area button div img {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .create_credential_area h1 {
    font-size: 30px;
  }

  .create_credential_area {
    padding-left: 20px;
    padding-right: 20px;
  }
}
